@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-image: url('paper.png');
    font-family: 'Lato';
    padding: 0 10px;
}

h1 {
    font-size: 1.3rem;
    padding-bottom: 4px;
}

.header {
    background-color: #3366ff;
    height: 50px;
    padding: 10px 20px;
    color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 0px 3px 10px #666;
    box-shadow: 0px 3px 10px #666;
    margin: 0 -10px;
}

.logo {
    max-width: 100%;
    height: 50px;
}

.app-title {
    font-size: 1.5em;
    display: inline;
    line-height: 50px;
    margin: 0;
    text-shadow: 2px 2px 5px #000;
}

.container {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    margin-top: 20px;
}

.row {
    display: inline-block;
    width: 100%;
    background-color: #eee;
    margin: 0 0 0.5em;
    margin-top: 5px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 2px 3px 10px 1px #666;
    box-shadow: 2px 3px 10px 1px #666;
}

.server-title {
    position: relative;
    color: rgba(0, 0, 0, 0.8);
    margin: -10px -16px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
}

.server-title::after {
    content: ' ';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
    width: 80%;
    bottom: 0;
}

.server-info {
    padding: 8px 16px;
    font-size: 0.8rem;
}

.server-info .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgba(0, 0, 0, 0.7);
}

.server-info .info .key {
    font-weight: bold;
}

.players-info {
    padding: 16px;
}

.players-info .info.title {
    display: grid;
    color: rgba(0, 0, 0, 0.7);
    grid-template-columns: 1.5fr 1fr 1fr;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.players-info .info.title .name {
    text-shadow: none;
}

.players-info .info {
    display: grid;
    color: rgba(0, 0, 0, 0.7);
    grid-template-columns: 1.5fr 1fr 1fr;
    padding: 4px 0;
    font-size: 0.8rem;
}

.players-info .info > div:not(:first-child) {
    text-align: center;
}

.players-info .info .name {
    text-shadow: 1px 1px 1px #000;
}

.header-center {
    display: flex;
    align-items: center;
}

.switch {
    display: flex;
    padding: 0;
    height: 80%;
    border-radius: 12px;
    border: 2px solid rgb(200, 255, 200);
    background-color: rgb(0, 0, 0, 0);
    overflow: hidden;
    cursor: pointer;
    font-weight: bold;
}

.switch > div {
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.switch .active {
    color: #333333;
    background-color: rgb(0, 255, 0);
    position: relative;
}

.switch .active:first-child::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgb(0, 255, 0);
}

.switch .active:last-child::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY(-50%);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid rgb(0, 255, 0);
}

.black {
    color: black;
}

.red {
    color: rgb(255, 0, 0);
}

.green {
    color: rgb(0, 255, 0);
}

.blue {
    color: rgb(0, 0, 255);
}

.cyan {
    color: rgb(0, 255, 255);
}

.magenta {
    color: rgb(255, 0, 255);
}

.white {
    color: white;
}

.yellow {
    color: rgb(255, 255, 0);
}

@media screen and (min-width: 1024px) {
    .container {
        margin: auto;
        margin-top: 20px;
        max-width: 1024px;
    }
}

@media screen and (max-width: 928px) {
    .container {
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media screen and (max-width: 650px) {
    .container {
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media screen and (max-width: 470px) {
    .app-title {
        display: none;
    }
}
